.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.toasts-wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  min-width: 180px;
}

.actions {
  > * {
    margin-left: 15px;
  }

  > :first-child {
    margin-left: 0;
  }
}

.dots {
  &:after {
    content: '\2807';
    font-size: 25px;
    line-height: 1;
  }
}
