.single-computation {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  a {
    padding: 15px 0;
    text-decoration: none;
    color: #495057;
  }
}

.plot {
  width: 100%;
  height: 100%;
}
