.single-computation {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  a {
    padding: 15px 0;
    text-decoration: none;
    color: #495057;
  }
}

.plot {
  width: 100%;
  height: 100%;
}

.computations {
  .computation {
    position: relative;

    > a {
      text-decoration: none;
      color: inherit;

    }

    .id, .attributes {
      font-size: 90%;
      margin-bottom: 5px;
    }
  }

  .computation-menu {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }

  .dropdown-menu {
    z-index: 1000;
  }

  .status {
    padding-top: 0;
  }
}
